certifi
chardet
click
dataclasses
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
six
urllib3
Werkzeug
yahoo-fin
git+git://github.com/twopirllc/pandas-ta.git